[submodule ".local/share/omf"]
	path = .local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
