.ssh
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
git/
*key*
.gnupg*
.DS_STORE
.cache
.npm
*history
*session
*sessions
.cfg/
.arcrc
.CFUserTextEncoding

# mostly state keeping, not user config
.config/fish/completions/
.config/fish/fish_variables
.config/fish/fishfile
.config/fish/functions/
.config/htop/
.config/iterm2/
.local/share/fish/
.local/share/z/
.viminfo
.lesshst

# managed by vundle
.vim/bundle/

# avoid "Operation not permitted" when running conf status on mac
.Trash/
